* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    body {
        background-color: #000;
        color: #fff;
    }
    

    nav {
        display:flex;
        background-color: #000;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }
    
    nav .mainMenu {
        height: 50vh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        background-color: #000;
        transition: top 1.5s ease;
        animation: slideInFromTop 1.5s ease forwards;
        gap: 28px;
        display: none;
    }
    
    .mainMenu li {
        list-style: none;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
    
    .mainMenu li a {
        text-decoration: none;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        color: #fff;
        font-weight: 700;
    }
    
   
    
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 4px;
        margin-top: 1rem;
        cursor: pointer; 
        margin-left: 1rem;
                
    }
    
    .closeMenu img {
        width: 10%;
        background-color: #fff;
    }
    
    .openMenu img {
        width: 45%;
        background-color: #fff;
        margin: .6rem;
    }

    
    .logo {
        display: flex;
        gap: 5%;
        color: #fff;
        padding-bottom: .7rem;
        justify-content: center;
        margin: 0 auto;
        margin-right: 7rem;
        margin-top: .5rem;
    }
    
    .logo-log {
        display: flex;
        margin-top: .5rem;
    }
    
    .virtual p {
        font-size: 11px;
    }
    
    .detect {
        font-size: 10px;
    }
    
    .eqd {
        text-align: center;
    }
    
    .lol {
        height: 30px;
        width: 30px;
        border: 1px solid #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
        left: 85%;
        bottom: 10%;
    }

.arrow img {
        width: 60%;
        margin: auto;
        margin-top: .3rem;
        margin-left: .3rem;
        filter: brightness(0) invert(1);
    }

.circle {
        width: 10px;
        height: 10px;
        background-color: #76eb9f;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: hidden;
        margin: auto;
        -webkit-animation: circle 2s linear infinite;
        animation: circle 2s linear infinite;    
}
    
    /*.lol {
        border: 1px solid #fff;
        color: #fff;
        border-radius: 50%;
        height: 50px;
        width: 80px;
        margin-right: 3rem;
        padding: .7rem;
    }
    
    .lol p {
        color: #fff;
        text-align: center;
    }*/
    
    .rex {
        margin-top: 8rem;
    }
    
    .rex img {
        width: 100%;
    }
    
    .hero {
     
        /*background: linear-gradient( #E40B2A10  50%, #E40B2A10 50%), url('main-media.png');*/
        background-size: cover;
        background-position: center;
        background-repeat: none;
        background-width: 50%;
        color: #fff;
        top: -360px;
        position: relative;
    }
    
    .hero-text {
        text-align: center;
    }
    
    .hero-text h1 {
        text-align: center;
        font-size: 24px;
        width: 85%;
        margin: 0 auto;
        margin-top: 7rem;
    }
    
     .aye {
        color: #76eb9f;
    }

    .hero-text p {
        width: 60%;
        margin: 0 auto;
        margin-top: 1.5rem;
        font-weight: 700;
    }
    
    .hero-logo {
        margin-top: 4rem;
        display: flex;
    }
    
    .lolz {
        height: 30px;
        width: 30px;
        border: 1px solid #fff;
        position: absolute;
        /*top: 0;
        bottom: 0;
        left: 0;
        right: 0;*/
        margin: auto;
        border-radius: 50%;
        /*right: 80%;
        top: 2%;*/
       
    }

.arrow img {
        width: 60%;
        margin: auto;
        margin-top: .3rem;
        margin-left: .3rem;
        filter: brightness(0) invert(1);
    }

.circles {
        width: 10px;
        height: 10px;
        background-color: #76eb9f;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow: hidden;
        margin: auto;
        -webkit-animation: circle 2s linear infinite;
        animation: circle 2s linear infinite;    
}
    
    .info {
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: .4rem;
      
    }
    
    .info a {
        text-decoration: none;
        color: #76eb9f;
        font-weight: 400;
        font-size: 15px;
    }
    
    .youtube {
        position: relative;
        top: -30px;
        margin: 0 auto;
        justify-content: center;
        text-align: center;
    }
    
    .youtube img {
        width: 30%;
        margin: 0 auto;
        justify-content: center;
     
        border: 1px solid #76eb9f;
        border-radius: 50%;
        padding: 1rem;
        background-color: #76eb9f;
       /* -webkit-animation: spin 2s linear infinite;
        -moz-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;*/
    }
   
    
    .line {
        border: .3px solid #76eb9f;
        margin-top: 4rem;
    }
    
    .better {
        text-align: center;
    }
    
    .better p {
        margin-top: 1rem;
    }
    
     .wat a {
        text-decoration: none;
        color: #76eb9f;
    }
    
    .org {
      position: relative;
      top: -150px;
    }
    
    .org-text {
        text-align: center;
    }
    
    .org-text h1 {
        font-size: 24px;
    }
    
    .org-text p {
        margin-top: 1rem;
        width: 80%;
        margin: 0 auto;
        margin-top: 1rem;
    }
    
    .innovation {
        margin-top: 4rem;
    }
    
    .innovAI {
        border: 1px dotted #76eb9f;
        padding: 1rem;
        margin-top: 1rem;
        text-align: center;
    }
    
    .AI-img img {
        width: 20%;
    }
    
    .AI-img .trade {
        -webkit-animation: spin 2s linear infinite;
        -moz-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    
    .AI-text h1 {
        font-size: 15px;
        color: #76eb9f;
        margin-top: .7rem;
    }
    
    .AI-text p {
        font-size: 13px;
        margin-top: .6rem;
    }
    
    .NB {
        margin-top: 1rem;
        opacity: .3;
    }
    
    .phone-img {
        margin-top: 2rem;
    }
    
    .phone-img img {
        width: 100%;
    }
    
    .logoo {
        position: relative;
        top: -670px;
        display: flex;
        gap: 5%;
        color: #fff;
        padding-bottom: .7rem;
        justify-content: center;
        margin: 0 auto;
        margin-right: 7rem;
        margin-top: .5rem;
        margin: 0 auto;
    }
    
    
    .Turbo {
        margin-top: 7rem;
    }
    
    .sec1 h1 {
        text-align: center;
        width: 100%;
        margin: auto;
    }
    
    .sec1 p {
        text-align: center;
        width: 100%;
        margin: auto;
        margin-top: 1rem;
        line-height: 1.7;
    }
    
    .unit {
        text-align: center;
        margin-top: 3rem;
    }
    
    .unit-text {
        display: flex;
        gap: 10%;
        margin: auto;
        justify-content: center;
    }
    
    .unit-price p {
        font-size: 12px;
    }
    
    .unit-price h3 {
        font-size: 24px;
        color: #76eb9f;
    }
    
    .buy-text {
        margin-top: 2rem;
    }
    
    .buy-text a {
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        background-color: #15ffb6;
        padding: .7rem 2rem;
        border-radius: 20px;
    }
    
    .investment {
        margin-top: 5rem;
    }
    
    .invest-text h1 {
        text-align: center;
        font-size: 24px;
        width: 83%;
        margin: auto;
    }
    
    .invest-text p {
        text-align: center;
        width: 80%;
        margin: auto;
        margin-top: 1rem;
    }
    
    .latest p {
        text-align: center;
        color: #76eb9f;
        margin-top: 5rem;
    }
    
    
    .latest-trade {
        border: 1px dotted #76eb9f;
        margin-top: 2rem;
        padding: 1rem;
        width: 90%;
        margin: auto;
        margin-top: 2rem;
    }
    
    .latest-trading {
        background-color: #0865279c;
        margin-top: 1rem;
        padding-top: .2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .instru {
        display: flex;
        justify-content: space-between;
        margin-top: .8rem;
        margin-bottom: .5rem;
        padding-bottom: .7rem;
        border-bottom: 1px solid #000;
    }
    
    .trading-desk {
        border: 1px solid #76eb9f;
        width: 90%;
        margin: auto;
        margin-top: 4rem;
        padding-bottom: 2rem;
    }
    
    .roll-on {
        background-color: #76eb9f;
        padding-right: 5rem;
        height: 30px;
        width: 100%;
        top: -17px;
        position: relative;
    }
    
    .color {
        background-color: #76eb9f;
        height: 5px;
        width: 100%;
    }
    
    .mining-num {
        display: flex;
        justify-content: space-between;
    }
    
    .mining-div {
        display: flex;
        gap: 20%;
        margin-left: 1.5rem;
        margin-top: .6rem;
    }
    
    
    .cir {
        height: 10px;
        width: 15px;
        border: 1px solid #76eb9f;
        border-radius: 50%;
    }
    
     .mine-num {
        margin-top: .5rem;
        margin-right: 1.5rem;
        color: #76eb9f;
    }
    
    .eyeq-img {
        text-align: center;
        margin-top: 1rem;
    }
    
    .eyeq-img img {
        margin: auto;
        justify-content: center;
        width: 50%;
        border: 1px thin #76eb9f;
        border-radius: 50%;
        padding: .5rem;
        border-right: none;
        border-left: none;
        -webkit-animation: spin 2s linear infinite;
        -moz-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    
    .eyeq-text h1 {
        font-size: 24px;
        text-align: center;
    }
    
    .eyeq-text p {
        text-align: center;
        width: 85%;
        margin: auto;
        margin-top: 2rem;
    }
    
    .eye-text h1{
        font-size: 12px;
        text-align: center;
        margin-top: .9rem;
    }
    
    .eyeq-texts h3 {
        font-size: 11px;
        text-align: center;
    }
    
    .eyeq-texts h1 {
        font-size: 13px;
        text-align: center;
    }
    
    .eyeq-texti h1 {
        font-size: 15px;
        text-align: center;
        margin-top: .7rem;
    }
    
    .eyeq-texti p {
        text-align: center;
        font-size: 13px;
    }
    
    .whole-world {
        margin-top: 5rem;
    }
    
    .whole-text h1 {
        text-align: center;
        margin-top: .6rem;
        font-size: 24px;
        width: 70%;
        margin: auto;
    }
    
    .whole-text p {
        text-align: center;
        width: 80%;
        margin: auto;
        margin-top: 2rem;
        font-size: 20px;
    }
    
    
    .simple {
        margin-top: 5rem;
    }
    
    .simple h1 {
        text-align: center;
        font-size: 24px;
    }
    
    .simple p {
        text-align: center;
        width: 60%;
        margin: auto;
        margin-top: 1rem;
    }
    
    .create-acc {
        margin-top: 3rem;
    }
    
    .create-div {
        border: 1px dotted #76eb9f;
        margin-top: 1rem;
        text-align: center;
        padding: 1rem;
    }
    
    .create-text p {
        font-size: 80px;
    }
    
    .create-text h2 {
        font-size: 20px;
        width: 80%;
        margin: auto;
    }
    
    .create-new p {
        width: 80%;
        margin: auto;
        margin-top: 1rem;
    }
    
    .platform-news {
        margin-top: 8rem;
    }
    
    .platform-news h1 {
        margin-left: 1rem;
    }
    
    .platform-news .plat {
        margin-left: 1rem;
        margin-top: 1.5rem;
    }
    
    .plat a {
        text-decoration: none;
        color: #76eb9f;
    }
    
    .facebook-plat {
        margin-top: 4rem;
    }   
    
    .facebook-img {
        text-align: center;
    } 
    
    .facebook-img img {
        width: 90%;
        margin: auto;
        border-radius: 6px;
    }
    
    .facebook-text {
        display: flex;
        justify-content: space-between;
        gap: 15%;
        margin-top: 1rem;
    }
    
    .facebook-text1 h1 {
        font-size: 16px;
        width: 100%;
    }
    
    .facebook-text1 p {
        margin-left: 1rem;
        font-weight: 700;
        font-size: 13px;
        margin-top: 1rem;
    }
    
    .facebook-text2 p {
        border: 1px solid #76eb9f;
        padding: 1rem;
        border-radius: 50%;
        background-color: #76eb9f;
        margin-right: 2rem;
        font-size: 20px;
    }
    
    .facebook-text3 p {
        border: 1px solid #76eb9f;
        padding: 1rem;
        border-radius: 50%;
        margin-left: 5rem;
        background-color: #76eb9f;
        margin-right: 2rem;
    }
    
    footer {
        margin-top: 7rem;
    }
    
    .logos {
        display: flex;
        gap: 5%;
        color: #fff;
        padding-bottom: .7rem;
        justify-content: center;
        margin: 0 auto;
        margin-right: 7rem;
        margin-top: .5rem;
        margin-left: 5rem;
    }
    
    .options .opt {
        text-align: center;
        margin-top: 4rem;
    }
    
    .options .opt li{
        list-style: none;
        margin-top: 1rem;
    }
    
    .opt li a {
        text-decoration: none;
        color: #76eb9f;
        font-weighg: 700;
    }
    
    .copyright {
        margin-top: 4rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    
    
    @property --r {
        syntax: '<angle>';
        inherits: false;
        initial-value: 0deg;
        
    }
    
    
    /*mix-blend-mode: multiply;*/
    /*filter: brightness(0) invert(1);*/
    /*animation: rotation 3s linear infinite; */
    
    
    
    @keyframes rotating {
        0% {
            --r: 0deg;
        }
        100% {
            --r: 360deg;
        }
    }
    
    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @-moz-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    
    @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBotom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes animateContent {
    to {
        opacity: 1;
    }
}


@-webkit-keyframes circle {
        0% {
            transform: rotate(0deg)translate(-15px)rotate(0deg);
        }
        100% {
            transform: rotate(360deg)translate(-15px)rotate(-360deg);
        }
    }
   
    
   keyframes circle {
        0% {
            transform: rotate(0deg) translate(-25px) rotate(0deg);
        } 
        100% {
            transform: rotate(360deg) translate (-30px) rotate(-360deg);
        }
    }


}
